.default-layout__container {
    height: 100vh;
}

.default-layout__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.default-layout__main {
    flex: 1;
    padding: 24px;
    background-color: var(--mat-sys-background);
}

