<mat-toolbar color="primary" class="toolbar">
    @if (isMobile()) {
        <button
            type="button"
            mat-icon-button
            aria-label="Otwórz nawigację"
            (click)="toggleSidenav()"
        >
            <mat-icon>menu</mat-icon>
        </button>
    }

    <span class="toolbar__title">{{ appTitle }}</span>

    @if (userInitials(); as initials) {
        <div class="toolbar__avatar" aria-hidden="true">
            {{ initials }}
        </div>
    }
</mat-toolbar>

