.toolbar {
    display: flex;
    gap: 16px;
    padding-inline: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mat-sys-primary-container) !important;
    color: var(--mat-sys-on-primary-container);
}

.toolbar__title {
    font-weight: 600;
    letter-spacing: 0.02em;
}

.toolbar__avatar {
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
    text-transform: uppercase;
}

