<!-- Komunikat błędu -->
@if (isError && errorData) {
    <div class="error-container">
        <stbo-error-display
            [code]="errorData.code"
            [message]="errorData.message">
        </stbo-error-display>
    </div>
}

<!-- Treść piosenki -->
@if ((isLoaded || isLoading) && navigation()) {
    <stbo-song-viewer
        [title]="loadedSong?.title ?? ''"
        [content]="strippedContent()"
        [navigation]="navigation()!"
        [isLoading]="isLoading"
        [showChords]="false"
        [showQrButton]="false">
    </stbo-song-viewer>
}

