<div class="song-display">
    @if (!content()) {
        <div class="song-display__empty">
            Brak treści piosenki
        </div>
    } @else {
        <div class="song-display__content">
            @for (item of displayItems(); track $index) {
                @if (isRepeatBlock(item)) {
                    <!-- Blok powtórzeń - wszystkie linie z wyrównaną pionową linią -->
                    <div class="song-display__repeat-block">
                        <div class="song-display__repeat-block-content">
                            @for (viewModel of item.lines; track $index) {
                                <div class="song-display__line" [attr.data-type]="viewModel.line.type">
                                    @if (viewModel.line.type === 'lyrics') {
                                        <span class="song-display__lyrics-line" [class.song-display__lyrics-line--with-chords]="showChords() && viewModel.line.chordLine">
                                            @if (viewModel.line.hasLyrics && viewModel.line.words) {
                                                @for (word of viewModel.line.words; track $index) {
                                                    <span class="song-display__word-wrapper">
                                                        @for (part of word.parts; track $index) {
                                                            <span class="song-display__part-group">
                                                                @if (showChords()) {
                                                                    <span class="song-display__chord">{{ part.chord || nbsp }}</span>
                                                                }
                                                                <span class="song-display__text-part">{{ part.text }}</span>
                                                            </span>
                                                        }
                                                    </span>
                                                }
                                                @if (viewModel.line.repetitionCount) {
                                                    <span class="song-display__repetition-marker">× {{ viewModel.line.repetitionCount }}</span>
                                                }
                                            } @else if (!viewModel.line.hasLyrics && showChords() && viewModel.line.chordLine) {
                                                <span class="song-display__chords-only">{{ viewModel.line.chordLine }}@if (viewModel.line.repetitionCount) {<span class="song-display__repetition-marker">× {{ viewModel.line.repetitionCount }}</span>}</span>
                                            } @else if (viewModel.line.hasLyrics && !viewModel.line.words) {
                                                <span class="song-display__lyrics">{{ viewModel.line.textLine }}</span>
                                                @if (viewModel.line.repetitionCount) {
                                                    <span class="song-display__repetition-marker">× {{ viewModel.line.repetitionCount }}</span>
                                                }
                                            }
                                        </span>
                                    } @else if (viewModel.line.type === 'directive') {
                                        <span class="song-display__directive">{{ viewModel.line.content }}</span>
                                    } @else if (viewModel.line.type === 'comment') {
                                        <span class="song-display__comment">{{ viewModel.line.content }}</span>
                                    } @else if (viewModel.line.type === 'empty') {
                                        <span class="song-display__spacer"></span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="song-display__repeat-block-indicator">
                            <div class="song-display__repeat-block-line"></div>
                            <span class="song-display__block-repeat-marker">× {{ item.repeatCount }}</span>
                        </div>
                    </div>
                } @else {
                    <!-- Pojedyncza linia (poza blokiem powtórzeń) -->
                    <div class="song-display__line" [attr.data-type]="item.viewModel.line.type">
                        @if (item.viewModel.line.type === 'lyrics') {
                            <span class="song-display__lyrics-line" [class.song-display__lyrics-line--with-chords]="showChords() && item.viewModel.line.chordLine">
                                @if (item.viewModel.line.hasLyrics && item.viewModel.line.words) {
                                    @for (word of item.viewModel.line.words; track $index) {
                                        <span class="song-display__word-wrapper">
                                            @for (part of word.parts; track $index) {
                                                <span class="song-display__part-group">
                                                    @if (showChords()) {
                                                        <span class="song-display__chord">{{ part.chord || nbsp }}</span>
                                                    }
                                                    <span class="song-display__text-part">{{ part.text }}</span>
                                                </span>
                                            }
                                        </span>
                                    }
                                    @if (item.viewModel.line.repetitionCount) {
                                        <span class="song-display__repetition-marker">× {{ item.viewModel.line.repetitionCount }}</span>
                                    }
                                } @else if (!item.viewModel.line.hasLyrics && showChords() && item.viewModel.line.chordLine) {
                                    <span class="song-display__chords-only">{{ item.viewModel.line.chordLine }}@if (item.viewModel.line.repetitionCount) {<span class="song-display__repetition-marker">× {{ item.viewModel.line.repetitionCount }}</span>}</span>
                                } @else if (item.viewModel.line.hasLyrics && !item.viewModel.line.words) {
                                    <span class="song-display__lyrics">{{ item.viewModel.line.textLine }}</span>
                                    @if (item.viewModel.line.repetitionCount) {
                                        <span class="song-display__repetition-marker">× {{ item.viewModel.line.repetitionCount }}</span>
                                    }
                                }
                            </span>
                        } @else if (item.viewModel.line.type === 'directive') {
                            <span class="song-display__directive">{{ item.viewModel.line.content }}</span>
                        } @else if (item.viewModel.line.type === 'comment') {
                            <span class="song-display__comment">{{ item.viewModel.line.content }}</span>
                        } @else if (item.viewModel.line.type === 'empty') {
                            <span class="song-display__spacer"></span>
                        }
                    </div>
                }
            }
        </div>
    }
</div>
