<div class="chord-pro-preview">
    @if (!hasContent()) {
        <div class="chord-pro-preview__empty">
            Wprowadź treść piosenki w formacie ChordPro, aby zobaczyć podgląd.
        </div>
    } @else {
        <div class="chord-pro-preview__content">
            @for (line of lines(); track line) {
                <div class="chord-pro-preview__line" [attr.data-type]="line.type">
                    @if (line.type === 'lyrics') {
                        <div class="chord-pro-preview__lyrics-line">
                            <span class="chord-pro-preview__chords">{{ line.chordLine }}</span>
                            <span class="chord-pro-preview__lyrics">{{ line.lyricLine }}</span>
                        </div>
                    } @else if (line.type === 'directive') {
                        <div class="chord-pro-preview__directive">
                            {{ '{' + line.content + '}' }}
                        </div>
                    } @else if (line.type === 'comment') {
                        <div class="chord-pro-preview__comment">
                            {{ '# ' + line.content }}
                        </div>
                    } @else {
                        <div class="chord-pro-preview__spacer"></div>
                    }
                </div>
            }
        </div>
    }
</div>

