.song-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__field {
        width: 100%;

        .mat-mdc-form-field-subscript-wrapper {
            margin-top: 0.4rem;
        }
    }

    &__field {
        width: 100%;
    }

    &__field--content {
        textarea {
            font-family: 'Fira Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
                'Liberation Mono', 'Courier New', monospace;
        }
    }
}

